.center { text-align: center; }
.msg {
	padding: 8px 16px 8px 16px;
	margin-bottom: 20px;
	background: #ffd02d;
}
.msg.red {
	color: #000000;
	background: #FF3300;
}
#availability {
	background: center left no-repeat;
	padding-left: 30px;
}
#availability.available {
	color:  #00CC33;
	background-image: url(/i/available.gif); 
}
#availability.not_available {
	color: #FF0000;
	background-image: url(/i/not_available.gif); 
}

/* --- */

.clear { clear:both; }

.show { display: block; }
.hide { display: none; }

.i_read { background-image: url(/i/i_read.gif); }
.i_delete { background-image: url(/i/i_delete.gif); }
.i_unread { background-image: url(/i/i_unread.gif); }
.loading { background-image: url(/i/loading.gif); }
.i_save { background-image: url(/i/i_save.gif); }

.red { color:#FF0000; }
.green { color:#00CC00; }


.add_to_firefox,
.add_to_firefox_dark,
.add_to_iphone,
.add_to_iphone_dark,
.add_to_any,
.add_to_any_dark {
	display: block;
	width: 171px;
	height: 37px;
	margin: 0px 0px 5px 0px;
	text-indent: -789em;
	background-position: center;
	background-repeat: no-repeat;
}

.centered_btn a { margin-left: auto; margin-right: auto; }

.add_to_firefox { background-image: url(/i/btn_firefox.png); }
.add_to_firefox_dark { background-image: url(/i/btn_firefox_dark.png); }
.add_to_iphone { background-image: url(/i/btn_iphone.png); }
.add_to_iphone_dark { background-image: url(/i/btn_iphone_dark.png); }
.add_to_any { background-image: url(/i/btn_any.png); }
.add_to_any_dark { background-image: url(/i/btn_any_dark.png); }

.btn_line a {
	float: left;
	margin: 0px 9px 4px 0px;
}

.note {
	padding: 9px;
	border: 1px dashed #CCCCCC;
	background: #FFFFCC;
}

.dashed {
	border: 2px dashed #666666;
}

/* --- */

#idea_shower_header {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 15px;
	text-align: right;
	font-size: 11px;
	line-height: 15px;
	background: #000000 url(/i/idea_shower_mini.gif) right center no-repeat;
	color: #CCCCCC;
	text-decoration: none;
}
#idea_shower_header:hover { color: #FFFFFF; text-decoration: none; }
#idea_shower_header span {
	display: block;
	padding-right: 40px;
}


#legal_footer
{
	padding-top:20px;
	font-size: 10px; 
	color: #999999;
}