<!DOCTYPE html>
<html>
<head>
  <link type='text/css' rel='stylesheet' href='/static/main.css' />
    <script src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript'></script>
  <title>ril</title>

  <script>
    // to selected on element
    function attach_post_onclick(elem, sel, url, data) {
      elem.find(sel).click(function() {
        $.post(
          url,
          data,
          function(redirect) { window.location = redirect; }
        );
      });
    };

    if (!String.prototype.format) {
      String.prototype.format = function() {
        var args = arguments;
        return this.replace(/{(\d+)}/g, function(match, number) {
          return typeof args[number] != 'undefined'
            ? args[number]
            : match;
        });
      };
    }
  </script>
</head>
<body>

<a href='/' class='main-title'>
  ril {{state}}
</a>

<div class='navbar'>
  <a href='/unread' class='navbar-link'>unread</a>
  |
  <a href='/read' class='navbar-link'>read</a>
</div>

<div class='login-area'>
  {% if state == 'unread' %}
    <a class='login-link' href='/new'>new</a> |
  {% endif %}
  {{username}} (<a class='login-link' href='/logout'>logout</a>)
</div>

{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}

<!-- bad block name; upd. or not -->
<div id='content'>
  {% block content %}
  {% endblock %}
</div>

</body>
</html>
