{% extends 'layout.html' %}

{% block content %}

<ul class='item-list'>
{% for item in items %}
  <li>
    <div class='item-content'>
      {% if isurl(item.content) %}
        <a href='{{item.content}}'>{{item.content}}</a>
      {% else %}
        {{item.content}}
      {% endif %}
    </div>
    <span class='item-added'>
      <small>{{item.added.strftime('%H:%M, %d %b %Y')}}</small>
    </span>
    <span class='item-do' id='{{item.id}}'>
      <a href='#' class='item-check' title='check'>
        <img src='/static/check.png' alt='check'>
      </a>
    </span>
  </li>
{% endfor %}
</ul>

<script>
  $('.item-do').each(function() {
    var item_id = $(this).attr('id');
    var elem = $(this);
    attach_post_onclick(elem, '.item-check', '/check',
      {item_id: item_id});
  });
</script>

{% endblock %}
